.about {
  color: var(--color-subtitle);
  background-color: var(--color-background);
  font-family: 'Rubik', sans-serif;
  height: 100%;
  width: 100%;
  text-align: center;
  
}

.about__summary {
  width: 100%;
  font-size: 22px;
  text-align: left;
  margin-bottom: 100px;
  margin-right: 100px;
  display: inline-block;
  font-weight: 300;
  line-height: 160%;
}

.about__summary h1, .about__education h1 {
  letter-spacing: 1px;
  display: inline-block;
  padding-right: 20px;
  line-height: 200%;
  font-size: 30px;
  color: var(--color-borders);
}

h2 {
  color: var(--color-title);
}

.long-line {
  width: 60%;
  display: inline-block;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.37);
}
.about__picture {
    position: relative;
    display: inline-block;
}

.image {
    margin: 40px auto;
    border-radius: 50%;
    width: 250px;
    display: inline-block;
}

.about__download {
  display: inline-block;
}
.about__education {

    font-size: 20px;
    text-align: left;
    margin-bottom: 40px;
    display: inline-block;
    font-weight: 300;
}

.about__education p {
  line-height: 120%;
}

.about__education.long-line {
  width: 90%;
}

.about__education__element {
  display: inline-block;
  text-align: left;
  height: 240px;
  width: 45%;
  padding: 20px 20px 20px 20px;
  margin: 40px 40px 10px 0px ;
  background-color: var(--color-background2);
  float: left;
  border-radius: 20px;
}



.button__primary {
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  padding: 15px;
  background-color: var(--color-background) !important;
  border: solid var(--color-borders) 2px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  
  }
  
  .button__primary:hover {
  background-color: var(--color-background2) !important;
  border: solid var(--color-borders) 2px;
  border-radius: 20px;
  text-decoration: none;
  color: var(--color-title) !important;
  
  }


  /* CONSTRUCTION AREA  - EVERYTHING BELOW THIS LINE IS ONGOING WORK*/ 

/* Small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .about {
    padding: 60px 40px 60px 65px;
  }

  .about__education {
    width: 100%;
  }

  .about__education__element {
    float: left;
    width: 100%;
    height: 100%;
  }

  .about__summary {
    
    margin-bottom: 0px;
    margin-right: 0px;
    
  }

  .mobile--hidden {
    display: none;
  }
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .about {
    padding: 60px 65px 65px 65px;
  }

  .about__education {
    width: 100%;
  }

  .about__education {
    padding-left: 200px;
  }

  .mobile--hidden {
    display: none;
  }
  
}

/* Large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .about {
    padding: 60px 65px 65px 65px;
  }
  
  .about__education {
    padding-left: 200px;
  }

  .about__summary {
    
    margin-bottom: 100px;
    margin-right: 100px;
    
  }

  .mobile--hidden {
    display: block;
  }


 
}