/********************************************************/
/******* Large devices (Laptops, PCs 960x and up) *******/
/********************************************************/

.about {
  color: var(--color-subtitle);
  background-color: var(--color-background);
  font-family: 'Rubik', sans-serif;
  height: 100%;
  text-align: center;
  margin: 6rem 8rem 6rem;
  
}


.about__summary {
  width: 90%;
  font-size: 22px;
  text-align: left;
  display: inline-block;
  font-weight: 300;
  line-height: 160%;
}

.about__summary h1, .about__education h1 {
  letter-spacing: 1px;
  display: inline-block;
  padding-right: 20px;
  line-height: 200%;
  font-size: 30px;
  color: var(--color-borders);
  
}

h2 {
  color: var(--color-title);
}

.long-line {
  width: 70%;
  display: inline-block;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.37);
}
.about__picture {
    width: 100%;
    position: relative;
    display: inline-block;
}

.image {
    margin: 20px auto;
    border-radius: 50%;
    width: 250px;
    display: inline-block;
}

.about__download {
  display: inline-flex;
  justify-content: right;
  margin-left: 20px;
}
.about__education {
    width: 100%;
    font-size: 22px;
    text-align: left;
    margin-bottom: 40px;
    display: inline-block;
    font-weight: 300;
    line-height: 160%;
}

.about__education p {
  line-height: 120%;
}

.about__education.long-line {
  width: 90%;
}

.about__education__element {
  display:  block;
  text-align: center;
  height: 100%;
  width: 40%;
  padding: 20px 20px 20px 20px;
  margin: 40px 40px 10px 0px ;
  background-color: var(--color-background2);
  
  border-radius: 20px;
}

.mobile--hidden {
  display: inline-block;
}

.button__primary {
  border-radius: 20px;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  padding: 15px;
  background-color: var(--color-background) !important;
  border: solid var(--color-borders) 2px;
  text-decoration: none;
  
  
  
  margin-top: 10px;
  
  }
  
  .button__primary:hover {
  background-color: var(--color-background2) !important;
  border: solid var(--color-borders) 2px;
  border-radius: 20px;
  text-decoration: none;
  color: var(--color-title) !important;
  
  }


  /* CONSTRUCTION AREA  - EVERYTHING BELOW THIS LINE IS ONGOING WORK*/ 

/*************************************************************/
/* Small and medium devices (phones, tablets, 960x and down) */
/*************************************************************/

/* Small devices (phones, 768px and down) */
@media only screen and (max-width: 960px) {
  .about {
    margin: 3rem 2rem 4rem;
  }

  .about__education {
    width: 100%;
  }

  .about__education__element {
    float: left;
    width: 100%;
    height: 100%;
  }

  .about__summary {
    
    margin-bottom: 0px;
    margin-right: 0px;

    
  }

  .mobile--hidden {
    display: none;
  }

  .about__picture {
    padding-top: 0px;
  }
 
  .about__download {
    display: inline-flex;
    justify-items: center;
  }
}

