body {
  --color-background: #040c0f;
  --color-background2:#16202a;

  --color-main:#292F36;
  --color-second: #5c748d;

  --color-title: #ffffff;
  --color-subtitle: #D6EFFF;


  --color-borders:	#1cd3bd;

  
}

.app {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

/* Small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .socialbar
  {
    width: 100%;
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .socialbar {
      display: none ; 
  }
}
