@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;430&display=swap');

* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  
  
  background-color: var(--color-background) !important;
  
  --color-background: #040c0f;
  --color-background2:#16202a;

  --color-main:#292F36;
  --color-second: #5c748d;

  --color-title: #ffffff;
  --color-subtitle: #D6EFFF;


  --color-borders:	#1cd3bd;

  margin: 0 auto;
  
}

.app {

  display: block;

}

/* Small and Medium devices (phones, 960px and down) */
@media only screen and (max-width: 960px) {
  .socialbar
  {
    width: 100%;
    display: none;
    margin: 0 auto;
  }

  body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--color-background);
    
  }
}
