body {
  --color-main: #50b7f5;
  --color-background: #000000;
  --color-font: #ffffff;
}

.app {
  display: flex;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  background: var(--color-background);
  background-size: 100% 100%;
  
}


