.contact {
    background-color: var(--color-background);
    font-family: 'Rubik', sans-serif;
    display: inline-block;
    margin: 0 auto;
    color: var(--color-title);
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 20px 40px 40px;
  }

  .contact__title {
    margin: 100px auto 20px;
    width: 50%;
  }

  .contact__title h1 {
    letter-spacing: 1px;
    display: inline-block;
    padding-right: 20px;
    line-height: 200%;
    font-size: 30px;
    color: var(--color-borders);
  }

  
  .contact__description {
    width: 40%;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 300;
    color: var(--color-subtitle);

  }

  .contact__form {
    display: block;
    text-align: center;

  }