.contact {
    background-color: var(--color-background);
    font-family: 'Rubik', sans-serif;
    display: inline-block;
    margin: 0 auto;
    color: var(--color-title);
    text-align: center;
    height: 100%;
    margin: 6rem 8rem 6rem 10rem;
  }


  .contact__title h1 {
    letter-spacing: 1px;
    display: inline-block;
    padding-right: 20px;
    line-height: 200%;
    font-size: 30px;
    color: var(--color-borders);
  }

  
  .contact__description {
    font-size: 22px;
    text-align: left;
    
    display: inline-block;
    font-weight: 300;
    color: var(--color-subtitle);
    
    margin: 0rem 6rem 1rem 8rem;

  }

  .contact__form {
    display: block;
    text-align: center;

  }


/* Small and Medium devices (landscape tablets, 960px and up) */
@media only screen and (max-width: 960px) {

  .contact {
    margin: 3rem 0rem 4rem;
  }
  
  .contact__description {
    width: 90%;
    text-align: start;

  }

  .contact__title {
    margin: 0px auto;
  }
  
  .contact__description {
    font-size: 1rem;
    margin: 10px;

  }
  
}

