.footer {
    height: 100%;
    width: 100%;
    background-color: var(--color-background);
    
}

.footer__copyright a {
    display: inline-block;
    margin: 0 auto;
    color: black;
    font-size: 0.8rem;
    letter-spacing: 3px;
    color: var(--color-subtitle);
    padding-bottom: 20px;
    text-decoration: none;
}

.footer__copyright a:hover {
    color: var(--color-title);
}



.footer__copyright {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 300;
}

.awssld__bullets .awssld__bullets--active {
    transform: scale(0.75);
    background: var(--color-borders);
}

.awssld__bullets button {
    background: white;
}