.header {
    background-color: var(--color-background);
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 90px;
    padding: 20px 120px 20px 120px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
}

.header__logo {
    display: inline-block;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: left;
    width: 30%;
    letter-spacing: 2px;
}

.header__navbar {
    display: inline-block;
    font-size:  1.75rem;
    font-weight: 300;
    text-align: right;
    width: 70%;
}

.header__navbar__item {
    display: inline-block;
    margin: 0px 30px;     
}


/* Hover Grow Effect */
.hvr-grow {
    color: var(--color-subtitle);
    padding-top: 10px;
    padding-bottom: 15px; 
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;  
    font-size: 20px;
     
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
    color: var(--color-title);
}

/* Underline From Center Effect*/
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--color-borders);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }
