/********************************************************/
/******* Large devices (Laptops, PCs 960x and up) *******/
/********************************************************/

.home {
  background-color: var(--color-background);
  display: grid;
  justify-content: center;
  align-items: center;
  color: var(--color-title);
  width: 100%;
  height: 100%;
  padding: 100px;
  text-align: left;
}

/* .home--right {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-left: 60px;
} */

.home__name {
  font-family: 'Rubik', sans-serif;
  margin-bottom: 35px;
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--color-borders);
}

.home__description {
  font-family: 'Rubik', sans-serif;
  color: var(--color-subtitle);
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 140%;
}

/*************************************************************/
/* Small and medium devices (phones, tablets, 960x and down) */
/*************************************************************/

@media only screen and (max-width: 960px) {
  .home {
    padding: 0px ;
  }
}

/********************************************************/
/********************* Font-Effects *********************/
/********************************************************/

/* Animate.css animation */
.animate__animated.animate__fadeInUp {
  --animate-duration: 3s;
}