.portfolio {
    background-color: var(--color-background);
    display: block;
    color: var(--color-title);
    height: 100%;
    width: 100%;
    padding: 60px 0px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
  }

.portfolio__description {
    width: 75%;
    margin: 0 auto 20px;
    display: block;

  }

  .portfolio__description h1 {
    letter-spacing: 1px;
    display: inline-block;
    padding-right: 20px;
    line-height: 200%;
    font-size: 30px;
    color: var(--color-borders);

  }

  .portfolio__description p {
    padding: 30px 0 80px 190px;
    font-size: 22px;
    font-weight: 300;
    text-align: left;
  }
  
.portfolio__project {
      display: inline-block;
      width: 25%;
      margin: 0 30px 0px 30px;
    
  }


  .portfolio__project__description  {
    text-align: justify;
    line-height: 150%;
  }
  .portfolio__project__description {
    font-weight: 300;
    color: var(--color-background);
  }


.portfolio__project {
  position: relative;
  width: 50%;
  margin-bottom: 60px;
}

.portfolio__project__image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;

}

.portfolio__project__image__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--color-borders);
  border-radius: 10px;
}

.portfolio__project:hover .portfolio__project__image__overlay {
  opacity: 0.7;
}

/* Small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
  .portfolio__description p {
    padding: 10px 0 50px 0px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .portfolio__description p {
    padding: 30px 0 80px 160px;
    }
 
}

/* Large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .portfolio__description p {
    padding: 30px 0 80px 190px;
    }
}