/********************************************************/
/******* Large devices (Laptops, PCs 960x and up) *******/
/********************************************************/

.portfolio {
    background-color: var(--color-background);
    display: block;
    color: var(--color-title);
    height: 100%;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 6rem 8rem 6rem;
  }

.portfolio__description {
    width: 75%;
    margin: 0 auto 20px;
    display: block;

  }

  .portfolio__description h1 {
    letter-spacing: 1px;
    display: inline-block;
    padding-right: 20px;
    
    font-size: 30px;
    color: var(--color-borders);

  }

  .portfolio__description p {
    padding: 10px 0 80px 190px;
    font-size: 22px;
    font-weight: 300;
    text-align: left;
  }
  
.portfolio__project {
      display: inline-block;
      width: 25%;
      margin: 0 30px 0px 30px;  
  }


  .portfolio__project__description  {
    text-align: center;
    line-height: 150%;
    background: #0B2545;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  
  .portfolio__project__description {
    font-weight: 300;
    color: white;
  }


.portfolio__project {
  position: relative;
  width: 60%;
  margin-bottom: 60px;
}

.portfolio__project__image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;

}

.portfolio__project__image__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--color-borders);
  border-radius: 10px;
}

.portfolio__project:hover .portfolio__project__image__overlay {
  opacity: 0.9;
}

.portfolio__button {
  margin: 10px;
}




/*************************************************************/
/* Small and medium devices (phones, tablets, 960x and down) */
/*************************************************************/

@media only screen and (max-width: 960px) {
  

    .portfolio__project {
      position: relative;
      width: 90%;
      margin-bottom: 60px;
  }

    .portfolio {
      margin: 0rem 1rem 4rem;
    }

    .portfolio__project__description {
      display: none;
    }
}