.resume {
  background-color: var(--color-background);
  display: block;
  height: 100%;
  width: 100%;
  padding: 0 65px;
  text-align: center;
  color: var(--color-title);
}

.resume__picture {
    margin: 100px auto 40px;
    border-radius: 50%;
    width: 200px;
}

.resume__experience {
  width: 100%;
  padding: 0 300px;
  font-size: 30px;
  text-align: justify;
  margin-bottom: 100px;
}

.resume__education__element {
  display: inline-block;
  text-align: left;
  margin: 40px 60px 40px 60px;
}

.hvr-grow {
  font-size: 20px;
}